@mixin button(
  $background: #999,
  $color: black,
  $border-radius: 4px
) {
  display: inline-block;
  background-color: $background;
  color: $color;
  border: none rgba(0, 0, 0, 0);
  padding: 0.75em 1.2em;
  text-decoration: none;
  border-radius: $border-radius;
  user-select: none;
  box-shadow: 0 2px 0 0 scale_color($background, $lightness: -8%);
  outline: 0;

  &:hover {
    background-color: scale_color($background, $lightness: 8%);
  }

  &:active {
    background-color: scale_color($background, $lightness: -8%);
  }

  &:visited {
    color: $color;
  }
}

@mixin button-disabled() {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
