
@mixin form($borderless-input: true) {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea {
    color: rgba(0, 0, 0, .7);
    min-height: 43px;

    @if $borderless-input {
      box-shadow: 0 2px 1px 0 #ccc;
      border: none;
    } @else {
      border: 1px solid rgba(0, 0, 0, .15);
    }

    margin: 0;
    padding: .65em 1em;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: 0;
      color: rgba(0, 0, 0, .85);

      @if $borderless-input {
        box-shadow: 0 0 2px #129FEA;
        border: none;
      } @else {
        box-shadow: none;
        border-color: #129FEA;
      }
    }
  }

  select {
    background: white;
  }

  fieldset {
      margin: 0;
      padding: 0.35em 0 0.75em;
      border: 0;
  }

  label {
      margin: 0.5em 0 0.2em;
  }

  legend {
      display: block;
      width: 100%;
      padding: 0.3em 0;
      margin-bottom: 0.3em;
      color: #333;
      border-bottom: 1px solid #e5e5e5;
  }
}

@mixin stacked-form() {
  label, input {
    display: block;
    margin: .35em 0;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
  }
}

@mixin input-with-icon($position: right) {
  position: relative;
  display: inline-block;

  input {
    padding-#{$position}: 3em !important;

    &:focus {
      +i {
        opacity: 1;
      }
    }
  }

  i {
    box-sizing: border-box;
    cursor: default;
    position: absolute;
    top: 0.8em;

    @if $position == right {
      right: 0;
    } @else {
      left: 0.6em;
    }

    margin: 0;
    opacity: 0.5;
    width: 1.5em;
  }
}

@mixin input-postfix() {
  input {
    display: inline-block;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  div {
    display: inline-block;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    * {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

}
