
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  color: #222;
  border: none;
  box-shadow: 0 2px 1px 0 #ccc;

  padding: .5em .8em;
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px #129FEA;
  }
}

select {
  background: white;
}

fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

label {
    margin: 0.5em 0 0.2em;
}

legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}


@mixin stacked-form() {
  label, input {
    display: block;
    margin: .25em 0;
  }

  input[type="checkbox"], input[type="radio"] {
    display: inline-block;
  }
}