
@mixin inline-list(
  $spacing: 20px,
  $uppercase: true
) {
  list-style: none;
  margin: 0;
  overflow: hidden;

  li {
    list-style: none;
    display: inline-block;
    margin-right: $spacing;

    &:last-of-type {
      margin-right: 0;
    }

    @if $uppercase {
      text-transform: uppercase;
    }
  }
}

@mixin menu-list(
  $padding-li: .8em 1em,
  $uppercase: true
){
  list-style: none;
  margin: 0;
  overflow: hidden;

  li {
    list-style: none;
    padding: $padding-li;
    cursor: pointer;

    @if $uppercase {
      text-transform: uppercase;
    }

    i {
      padding-right: 1em;
      vertical-align: middle;
    }
  }
}