@mixin tooltip(
  $position: bottom,
  $color: white,
  $background-color: #354052,
  $border-color: scale_color($background-color, $lightness: -8%),
  $border-radius: 4px,
  $box-shadow-color: #ccc
) {
  box-sizing: border-box;
  z-index: 7777;
  display: inline-block;
  position: relative;
  padding: 1em 1.2em;

  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: rem-calc(14);
  line-height: 1.3;
  color: $color;
  background-color: $background-color;

  @include arrow($position, $background-color, $border-color);
}
