* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100%;

  @include form(true);
  @include typography();

  img {
    @include responsive-image();
  }
}

aside {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #1f282d;
  color: white;

  h1 {
    text-align: center;
    padding: .2em;
    background-color: #2EB398;
    margin-top: 0;
    margin-bottom: 0;
  }

  nav ul {
    @include menu-list;
  }
}

article {
  width: 80%;
  position: absolute;
  right: 0;
  padding: 0 2em;
  padding-bottom: 2em;

  .example {
    @include box(#ecf2f6);
  }

  .button {
    @include button(#008CBA, white);
  }

  .button--disabled {
    @include button-disabled;
  }

  .form--stacked {
    @include stacked-form;
  }

  .aligned-input {
    @include aligned-label-input;

    label {
      width: 20%;
    }
  }

  // would use a column offset with a grid offset
  .shift-20 {
    position: relative;
    left: 20%;
  }

  .input-icon {
    @include input-with-icon;
  }

  .input-icon-left {
    @include input-with-icon(left);
  }

  .input-postfix {
    @include input-postfix;
  }

  .divider {
    @include divider;
  }

  .avatar {
    @include circular-image();
  }

  .rounded-image {
    @include rounded-image();
  }

  .notification {
    @include notification();
  }

  .message {
    @include message();
  }

  .tooltip {
    @include tooltip;
    margin-right: 1em;
  }

  .tooltip--top {
    @include tooltip(top);
    margin-right: 1em;
  }

  .tooltip--right {
    @include tooltip(right);
    margin-right: 1em;
  }

  .tooltip--left {
    @include tooltip(left);
    margin-right: 1em;
  }

  .inline-list {
    @include inline-list;
  }
}
