body {
  padding: 2em;
  background-color: #ecf2f6;
  @include form(true);
  @include typography();

  img {
    @include responsive-image();
  }
}

.button {
  @include button(#008CBA, white);
}

.button--disabled {
  @include button-disabled();
}

.form--stacked {
  @include stacked-form();
}

.divider {
  @include divider();
}

.input-icon {
  @include input-with-icon();
}

.input-icon-left {
  @include input-with-icon(left);
}

.input-postfix {
  @include input-postfix();
}

.avatar {
  @include circular-image();
}

.rounded-image {
  @include rounded-image();
}

.notification {
  @include notification();
}

.message {
  @include message();
}

.tooltip {
  @include tooltip();
  margin-right: 1em;
}

.tooltip--top {
  @include tooltip(top);
  margin-right: 1em;
}

.tooltip--right {
  @include tooltip(right);
  margin-right: 1em;
}

.tooltip--left {
  @include tooltip(left);
  margin-right: 1em;
}


.inline-list {
  @include inline-list;
}